<div class="container">

	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<h3>ショッピングカート</h3>
		</div>
		<div class="col-xs-4"></div>
		<div class="col-xs-2">
			<%= link_to 'カートを空にする', home_about_path, class: "btn btn-danger" %>
		</div>
		<div class="col-xs-1"></div>
	</div>

	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<table border="1">
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th>　　　</th>
				</tr>
				<% total_price = 0%>
					<% @cartproducts.each do |c| %>
				<tr>
					<td><%= c.product.name %></td>
					<td><%= c.product.no_tax_price %></td>
				<% total_price += (c.product.no_tax_price * c.quantity)%>
					<%= form_for c do |ca| %>
					<td>
						<%= ca.number_field :quantity %>
						<%= ca.submit "変更", class: "btn btn-primary" %>
					</td>
					<td><%= c.product.no_tax_price * c.quantity %></td>
					<td><%= link_to '削除する', cart_product_path(c), method: :delete, class: "btn btn-danger" %></td>
					<% end %>

				</tr>
				<% end %>
			</table>
		</div>
		<div class="col-xs-1"></div>
	</div>

	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-2">
			<%= link_to '買い物を続ける', products_path, class: "btn btn-primary" %>
		</div>
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<table border="1">
				<tr>
					<td>合計金額</td>
					<td><%= (total_price * 1.1.to_f).ceil %></td>
				</tr>
			</table>
		</div>
		<div class="col-xs-1"></div>
	</div>

	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<%= link_to '情報入力に進む', new_order_path, class: "btn btn-success" %>
		</div>
		<div class="col-xs-4"></div>
	</div>

</div>


