<div class="container">
	<div class="row">
		<h3>ショッピングカート</h3>

		<div class="kara">
			<%= link_to 'カートを空にする', cart_products_reset_path, method: :delete, class: "btn btn-danger" %>
		</div>

	<div class="row">
		<table class="panel panel-default">
			<thead>
				<tr>
					<th class="panel-heading">商品名</th>
					<th class="panel-heading">単価(税込)</th>
					<th class="panel-heading">数量</th>
					<th class="panel-heading">小計</th>
					<th class="panel-heading"></th>
				</tr>

			</thead>

			<tbody>

				<% @cart_products.each do |cart_product| %>
					<tr>
						<td class="panel-body">
							<%= attachment_image_tag cart_product.product, :image, :fill, 80, 50, format: 'jpeg', style: "margin: 5px 5px;", fallback: "no-image.jpg", size: "80x50" %>
							<%= cart_product.product.name %>
						</td>
						<td class="panel-body">
							<%= cart_product.include_tax_unit_price %>
						</td>
						<td class="panel-body">
							<%= form_for cart_product do |f| %>
								<%= f.number_field :quantity %>
								<%= f.submit "変更", class: "btn btn-primary" %>
							<% end %>
						</td>
						<td class="panel-body">
							<%= cart_product.include_tax_total_price %>
						</td>
						<td class="panel-body">
							<%= link_to '削除する', cart_product_path(cart_product.id), method: :delete, class: "btn btn-danger" %>
						</td>
					</tr>
				<% end %>
		</table>
	</div>

	<div class="buy">
		<%= link_to '買い物を続ける', root_path, class: "btn btn-primary" %>

	<div class="kara">
		<table class="panel panel-default">
			<tr>
				<td class="panel-body">
				合計金額
				</td>
				<td class="panel-body">
					<%= @total_price %>
				</td>
			</tr>
		</table>
	</div>

	<div class="next">
		<% if @cart_products.exists? %>
			<%= link_to '情報入力に進む', new_order_path, class: "btn btn-success" %>
		<% end %>
	</div>


	</div>
</div>
