<div class='col-xs-9'>
	<h2>ジャンル一覧・追加</h2>

	<%= form_for @product_genre, url: admins_product_genres_path do |f| %>
	<div class="field">
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.radio_button :is_valid, :true %>
		<%= f.label :is_valid, "有効" %>
		<%= f.radio_button :is_valid, :false %>
		<%= f.label :is_valid, "無効" %>
	</div>
	<div class="actions">
		<%= f.submit '追加' %>
	</div>
	<% end %>


	<table class="panel panel-default">
		<thead>
			<tr>
				<th class="panel-heading">ジャンル</th>
				<th class="panel-heading">状態</th>
				<th class="panel-heading"></th><!編集ボタン用>
			</tr>
		</thead>

		<tbody>
			<% @product_genres.each do |product_genre| %>
				<tr>
					<td class="panel-body">
						<%= product_genre.name %>
					</td>
					<td class="panel-body">
						<% if product_genre.is_valid == true %>
							<p>有効</p>
						<% else %>
							<p>無効</p>
						<% end %>
					</td>
					<td class="panel-body">
						<%= link_to "編集する", edit_admins_product_genre_path(product_genre), class: "btn btn-success btn-xs" %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>