<h1>会員一覧</h1>
<body>
  <div class="body">
    <div class="container">
      <div class="row">
      <thead>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </thead>
        <tbody>
          <% @customers.each do |c| %>
          <tr>
            <td>
              <%= c.id %>
            </td>
            <td>
              <%= link_to admins_customer_path(c) do %>
              <%= c.name %>
              <% end %>
            </td>
            <td>
              <%= c.email %>
            </td>
            <td>
              <%= c.is_active%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </div>
    </div>
  </div>
</body>
