<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<h3 class="bg-warning text-center">注文情報確認</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-7">
			<table class="table table-bordered">

			<tr class="bg-info">
				<th style="padding-top: 10px; padding-bottom: 10px;">商品名</th>
				<th>単価(税込)</th>
				<th>数量</th>
				<th>小計</th>
			</tr>
			<% @cart_products.each do |cart_product| %>
			<tr>
				<td style="padding-top: 10px; padding-bottom: 10px;"><%= cart_product.product.name %></td>
				<td><%= (cart_product.product.no_tax_price * 1.1.to_f).floor %></td>
				<td><%= cart_product.quantity %></td>
				<td><%= (cart_product.product.no_tax_price * 1.1.to_f).floor * cart_product.quantity %></td>
			<% end %>
			</tr>
			</table>
		</div>
		<div class="col-xs-4">
			<table border="1" class="col-xs-offset-1">
			<tr>
				<td class="bg-info" style="padding-right:50px; padding-top:10px; padding-bottom:10px;">送料</td>
				<td>800</td>
			</tr>
			<tr>
				<td class="bg-info" style="padding-right:50px; padding-top:10px; padding-bottom:10px;">商品合計</td>
				<td><%= @subtotal_price %></td>
			</tr>
			<tr>
				<td class="bg-info" style="padding-right:50px; padding-top:10px; padding-bottom:10px;">請求金額</td>
				<td><%= @subtotal_price + 800 %></td>
			</tr>
			</table>
		</div>
	</div>

	<div style="display: inline-flex; padding-top:40px">
		<div style="padding-right:20px">
			<strong>支払い方法</strong>
		</div>
		<div><%= @order.payment_method %></div>
	</div>
	<br>
	<div style="display: inline-flex; padding-top:40px">
		<div style="padding-right:20px">
			<strong>お届け先</strong>
		</div>
		<div><%= @order.shipping_postal_code %><%= @order.shipping_address %><%= @order.shipping_name %></div>
	</div>
	<br>
	<div align="center"><%= link_to '購入を確定する', orders_thanks_path, class:"btn btn-success" %></div>
</div>

