<h3>注文情報入力</h3>

<div>

	<%= form_with model: @order, url: orders_confirm_path,method: :get do |f| %>
		<span>支払方法</span>

		<div>
			<%= radio_button_tag("r1","payment_method 1") %>
			<%= label_tag("r1_payment_method_1","クレジットカード") %>
		</div>

		<div>
			<%= radio_button_tag("r1","payment_method 2") %>
			<%= label_tag("r2_payment_method_2","銀行振込") %>
		</div>


		<span>お届け先</span>

		<div>
			<%= radio_button_tag("r2","address 1") %>
			<%= label_tag("r1_radio_1","ご自身の住所") %>
			<div style="color:#0000FF">
				<%= current_customer.postal_code %><%= current_customer.address %><br>
				<%= current_customer.last_name %><%= current_customer.first_name %>
			</div>
		</div>

		<div>
			<%= radio_button_tag("r2","address 2") %>
			<%= label_tag("r2_radio_2","登録済住所から選択") %>
			<div style="color:#0000FF">
				<%= f.collection_select :shipping_name, current_customer.ships, :id, :full_address %>
			</div>
		</div>

		<div>
			<%= radio_button_tag("r2","address 3") %>
			<%= label_tag("r3_radio_3","新しいお届け先") %>
			<div style="display: inline-flex;">
				<div>郵便番号(ハイフンなし)</div>
				<%= text_area_tag :shipping_postal_code %>
			</div><br>
			<div style="display: inline-flex;">
				<div>住所</div>
				<%= text_area_tag :shipping_address %>
			</div><br>
			<div style="display: inline-flex;">
				<div>宛名</div>
				<%= text_area_tag :shipping_name %>
			</div>
		</div>
		<div>
				<%= submit_tag "確認画面へ進む",{url:orders_confirm_path, class: "btn btn-primary"} %>
		</div>
	<% end %>
</div>
