<div>
	<table class="table table-bordered" style="margin: 40px 0;">
		<tr>
			<th class="panel-body">商品</th>
			<th class="panel-body">単価(税込)</th>
			<th class="panel-body">個数</th>
			<th class="panel-body">小計</th>
			<th class="panel-body">製作ステータス</th>
			<th class="panel-body"></th>
		</tr>
    <% OrderProduct.where(order_id: order.id).each do |op| %>
		<tr>

			<td> <%= op.product.name %></td>
			<td><%= (op.product.no_tax_price.to_i*1.1).ceil %></td>
			<td><%= op.quantity %></td>
			<td><%= (op.product.no_tax_price.to_i*1.1*op.quantity).ceil %></td>
	    <%= form_for op, url: admins_order_product_path(op.id) do |os| %>
			<td>
				<%= os.select :production_status, OrderProduct.production_statuses.keys.to_a %>
			</td>
			<td><%= os.submit "更新", class: "btn btn-primary" %></td>
			<% hidden_field_tag :product, op.id %>
			<% end %>
		</tr>
		<% end %>
		</table>

	<tr>
		<th class="panel-body">商品合計</th>
		<td><%= @total_price %></td>
	</tr>
	<tr>
		<th class="panel-body">送料</th>
		<td> <%= @postage_price  %> </td>
	</tr>
	<tr>
		<th class="panel-body">請求合計金額</th>
		<td><%= @total_price+@postage_price %></td>
	</tr>


</div>
