<h4 class="col-xs-offset-1", style="padding-bottom: 30px;"><span style="background-color: #DDDDDD; padding: .3em;">　配送先一覧／登録　</span></h4>

<%= form_for(@ship) do |f| %>
	<%= render "ship_form", f: f %>

	<div class="active">
	  <%= f.submit "　　登録する　　", class: "btn btn-success col-xs-offset-3" %>
	</div>
<% end %>


<div class="col-xs-8">
	<table class="table" style="margin: 40px 0;">
		<tbody>
			<tr>
				<th class="active", style="height: 40px; width: 15%">郵便番号</th>
				<th class="active", style="height: 40px; width: 35%">住所</th>
				<th class="active", style="height: 40px; width: 20%">宛名</th>
				<th class="active", style="height: 40px; width: 25%"></th>
			</tr>
				<td style="height: 50px;"><%= current_customer.postal_code %></td>
				<td><%= current_customer.address %></td>
				<td>ご自身の住所</td>
				<td>

			<% @ships.each do |ship| %>
			<tr>
				<td><%= ship.postal_code %></td>
				<td><%= ship.address %></td>
				<td><%= ship.name %></td>
				<td>
					<div style="display: flex; justify-content: space-between;">
						<%= link_to "編集する", edit_ship_path(ship.id), class: "btn btn-primary", data: { "turbolinks": false } %>
						<%= link_to "削除する", ship_path(ship.id), method: :delete, class: "btn btn-danger" %>
					</div>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
