 <div class='col-xs-9'>
    <h2>商品一覧</h2>
	    <table class="panel panel-default">

			<thead>
		        <tr>
			        <th class="panel-heading">商品ID</th>
			        <th class="panel-heading">商品名</th>
			        <th class="panel-heading">税抜価格</th>
			        <th class="panel-heading">ジャンル</th>
			        <th class="panel-heading">ステータス</th>
		        </tr>
			</thead>

			<tbody>
		        <tr>
		        	<% @products.each do |product| %>
			            <td>
			              <%= product.id %>
			            </td>
			            <td>
			              <%= product.name %>
			            </td>
			            <td>
			            <%= product.no_tax_price %>
			            </td>
			            <td>
			            <%= product.product_genre.name %>
						</td>
						<td>
			            <%= product.is_sold %>
						</td>
					<!% end %>
				</tr>
			</tbody>
		</table>
</div>
