 <div class='col-xs-12'>
 	<h2>商品一覧</h2>
 	<table class="panel panel-default">

		<div>
	 		<%= link_to new_admins_product_path do %>
		 		<button type="button" class="btn btn-default" aria-label="Left Align">
		 			<span class="glyphicon glyphicon-plus" aria-hidden="true">
		 			</span>
		 		</button>
	 		<% end %>
	 	</div>

	 		<thead>
	 			<tr>
	 				<th class="panel-heading">商品ID</th>
	 				<th class="panel-heading">商品名</th>
	 				<th class="panel-heading">税抜価格</th>
	 				<th class="panel-heading">ジャンル</th>
	 				<th class="panel-heading">ステータス</th>
	 			</tr>
	 		</thead>

	 		<tbody>
				<% @products.each do |product| %>
		 			<tr>
		 				<td class="panel-body">
		 					<%= product.id %>
		 				</td>
		 				<td>
		 					<%= link_to admins_product_path(product) do %>
		 						<%= product.name %>
		 					<% end %>
		 				</td>
		 				<td class="panel-body">
		 					<%= product.no_tax_price %>
		 				</td>
		 				<td class="panel-body">
		 					<%= product.product_genre.name %>
		 				</td>
		 				<td>
			 				<% if product.is_sold == true %>
			 					<p>販売中</p>
			 				<% else %>
			 					<p>販売停止中</p>
			 				<% end %>
		 				</td>
		 			</tr>
				<% end %>
	 		</tbody>
	 	</table>

 	<div class='row'>
 		<%= paginate @products %>
 	</div>

 </div>