<table>

	<thead>
		        <tr>
			        <th style="border:none;"></th>
			        <th style="border:none;"></th>
		        </tr>
			</thead>

			<tbody>
		        	<% @products.each do |product| %>
		        		<tr>
				            <td class="panel-body">
				              商品名
				            </td>
				            <td>
				              <%= product.name %>
				            </td>
				        </tr>
				        <tr>
				            <td class="panel-body">
				            商品説明
				            </td>
				            <td class="panel-body">
				            <%= product.product_genre.name %>
							</td>
						</tr>
						<tr>
				            <td class="panel-body">
				              ジャンル
				            </td>
				            <td>
				              <%= product.name %>
				            </td>
				        </tr>
				        <tr>
				            <td class="panel-body">
				              税込価格（税抜価格）
				            </td>
				            <td>
				              <%= product.name %>
				            </td>
				        </tr>
				        <tr>
				            <td class="panel-body">
				              販売ステータス
				            </td>
				            <td>
				              <%= product.name %>
				            </td>
				        </tr>
					<% end %>
				</tr>
			</tbody>
</table>