<div class='col-xs-9'>
<h2>注文履歴一覧</h2>

<table class="panel panel-default">
  <thead>
    <tr>
      <th class="panel-heading">購入日時</th>
      <th class="panel-heading">購入者</th>
      <th class="panel-heading">注文個数</th>
      <th class="panel-heading">注文ステータス</th>
    </tr>
  </thead>
  <tbody>
<% @orders.each do |o| %>
    <tr>
      <td panel-body>
  <%= link_to admins_order_path(o.id) do %>
        <%= o.created_at %>
        <% end %>
      </td>
      <td panel-body><%= o.customer.last_name %><%= o.customer.first_name %></td>
      <td panel-body><%= OrderProduct.where(order_id: o.id).sum(:quantity) %></td>
      <td panel-body><%= o.order_status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
