<div class="container">
  <div class="row">
    <div>
    <h4 class="col-xs-offset-1", style="padding-bottom: 30px;"><span style="background-color: #DDDDDD; padding: .3em;">注文履歴一覧</span></h4>

    <table class="col-xs-12 table table-bordered" style="margin: 40px 0;">
      <thead>
        <tr>
          <th class="panel-heading">購入日時</th>
          <th class="panel-heading">購入者</th>
          <th class="panel-heading">注文個数</th>
          <th class="panel-heading">注文ステータス</th>
        </tr>
      </thead>
      <tbody>
    <% @orders.each do |o| %>
        <tr>
          <td class="panel-body under">
      <%= link_to admins_order_path(o.id) do %>
            <%= o.created_at.to_s(:datetime) %>
            <% end %>
          </td>
          <td panel-body><%= o.customer.last_name %><%= o.customer.first_name %></td>
          <td panel-body><%= OrderProduct.where(order_id: o.id).sum(:quantity) %></td>
          <td panel-body><%= o.order_status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @orders %>
  </div>
</div>
