<table>
  <h2>注文履歴詳細</h2>
  <thead>
    <tr>
      <th>購入者</th>
      <th><% @order.customer.last_name %></th>
      <th><% @order.customer.first_name %></th>
    </tr>
    <tbody>
      <tr>
        <td class="panel-body">配送先</td>
        <td>〒<%= @order.shipping_postal_code %>
              <%= @order.shipping_address %>
        </td>
      </tr>
      <tr>
        <td class="panel-body"></td>
        <td><%= @order.shipping_name %></td>
      </tr>
      <tr>
        <td class="panel-body">支払方法</td>
        <td><%= @order.payment_method %></td>
      </tr>
      <tr>
        <td class="panel-body">注文ステータス</td>
        <% form_with(model: @order, url:admins_order_path(@order.id), method: :patch, local: true) do |os| %>
        <td class="field">
          <%= os.select :order_status, Order.order_statuses.keys, :selected=>Order.order_statuses[@order.order_status] %>
        </td>
        <% end %>
      </tr>
    </tbody>

    <%= render 'admins/orders/order_products_list', order: @order %>

  </thead>
</table>
